body {
  padding-top: 60px;
  background-color: #fafafa;
}
::placeholder {
  text-align: center;
  font-size: 14px;
  color: gray;
  background-position: 40%;
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 30px;
}
.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}
.nav {
  margin-left: 5px;
  margin-top: 2px;
}
.middlearea {
  max-height: 200px !important;
}
.fa-bookmark {
  margin-left: auto;
}
